<div class="row mt-3">
  <div class="col text-center">
      <h1 class="text-main fw-bold" style="margin-bottom: 0px;">Students</h1>
  </div>
</div>

<div class="card m-3 shadow">
  <p-table #dt1
      [value]="lsStudent"
      dataKey="name"
      [tableStyle]="{ 'min-width': '35rem' }"
      [styleClass]="selectedSize.class"
      [rows]="10"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['name', 'currentLevel', 'levelProgress']"
      class="card">

      <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconfield iconPosition="right" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                    pInputText
                    type="text"
                    (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword"
                />
            </p-iconfield>
        </div>
    </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th style="width: 25%;">Name</th>
              <th style="width: 20%;">Current level</th>
              <th style="width: 25%;">Progress</th>
              <th style="width: 20%;">Detail Activities</th>
              <th style="width: 10%;">Edit</th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-student let-expanded="expanded">
          <tr>
              <td>{{ student.name }}</td>
              <td>{{ student.currentLevel }}</td>
              <td>
                  <div class="progress ms-1 me-4" role="progressbar" aria-label="Success example" aria-valuenow="student.levelProgress" aria-valuemin="0" aria-valuemax="100" style="height: 20px;">
                      <div class="progress-bar fs-6 bg-main progress-bar-striped progress-bar-animated" [style.width.%]="student.levelProgress">{{student.levelProgress}}%</div>
                  </div>

              </td>
              <td>
                  <button type="button" class="btn btn-primary button rounded-pill position-relative">
                      <i class="fa-solid fa-book"></i> Detail
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        1
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </button>
                  <!---
                  <span *ngIf="student.pendindTask == 0" class="badge rounded-pill text-bg-success">{{ student.pendindTask }}</span>
                  <span *ngIf="student.pendindTask > 0" class="badge rounded-pill text-bg-warning">{{ student.pendindTask }}</span>
                  -->
              </td>
              <td>
                  <button type="button" class="btn btn-primary button rounded-pill">
                      <i class="fa-solid fa-pen-to-square fs-14"></i> Edit
                  </button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
