<div class="layout-topbar">
    <div class="top-header menuNavigation">
        <button id="df" title="Menú" #menubutton class="p-link layout-topbar-button" style="color: white;" (click)="layoutService.onMenuToggle()">
            <i class="fa-solid fa-bars menu-bars-icon"></i>
        </button>
    </div>

    <div class="top-header">
        <a class="header-center" routerLink="">
            <i class="mb-2">
                <img src="assets/img/white-logo.png" alt="Avatar Image" style="width: 40px; height: 40px;">
                &nbsp;
            </i>
        </a>
    </div>

    <div class="top-header menuOptions">
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" style="color: white;" (click)="toggleMenu()" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user-large i-iconMenu icon-user"></i><span id="userName"> {{userName}} </span>
            </button>
            <!-- <div [ngClass]="{'dropdown-menu': true, 'show': isMenuOpen}" aria-labelledby="dropdownMenu2" id="menuBarTop" style="margin-top: 33px; min-width: 30px;"> -->
            <div [ngClass]="{'dropdown-menu': true, 'show': isMenuOpen}" aria-labelledby="dropdownMenu2" id="menuBarTop" class="drop-close-menu" class="drop-close-session">
                <!-- Contenido del menú -->
                <button type="button" class="btn" (click)="logOut()">
                    <i class="fa-solid fa-arrow-right-from-bracket close-user"></i><span>Cerrar Sesión</span>
                </button>
            </div>
        </div>

        <!--
        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        [ngClass]="{'dropdown-menu': true, 'show': isMenuOpen} "

        <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

            <button class="p-link layout-topbar-button" (click)="logOut()">
                <i class="fa-solid fa-user-large i-iconMenu"></i>
                <span>Profile</span>
            </button>
            <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
                <i class="fa-sharp fa-solid fa-gear i-iconMenu"></i>
                <span>Settings</span>
            </button>
        </div>
        -->
    </div>
</div>