:host ::ng-deep {
  .p-button.p-button-sm {
      font-size: 12px;
      padding: 6px 6px;
    }}

:host ::ng-deep {
  .p-tag-icon,
  .p-tag-value {
      font-size: 12px;
      padding: 4px 4px;
    }}


/*  th {
  font-size: 14px;
}

td {
  font-size: 14px;
  font-weight: 100;
}
*/
