[data-theme="light"] {
  --main-content-background-color: #ffffff;
  --main-content-text-color: #231f20;
  --color-primary: #012169;
  --color-primary-hover: #0234a8;
  --color-primary-gradient: #E4002A, #012169;
  --color-second: #E4002A;
  --color-second-hover: #f1133b;
  --color-white: #ffffff;
  --surface-ground:#eff3f8;
}
